# Private key of the account that will deploy the contracts
# This account will also be used as owner of various contracts etc
# Recommend importing it to your wallet when testing locally, and changing to some existing account you have when using mainnet / testnet
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

# Comma separated list of RPC URLs to use for the chain, randomly picked for reliability and to prevent rate limits
RPC_URLS="https://polygon.llamarpc.com,https://polygon.rpc.subquery.network/public,https://polygon.drpc.org,https://polygon-rpc.com,https://1rpc.io/matic"
